@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	--textColorOne: #b7becd;
	--textColorTwo: #8595b2;
	--bgColor: #13253e;

	--lineScan1: rgba(0, 0, 0, 0.1);
	--lineScan2: rgba(0, 0, 0, 0.2);

	--layerPos: -30px;
}

body {
	color: var(--textColorOne);
	background-color: #13253e;
	overflow: hidden;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-header {
	position: absolute;
}

.logo {
	filter: sepia(100%) hue-rotate(145deg) saturate(1000%);
	position: absolute;
	right: 1rem;
	top: 1rem;
	user-select: none;
	pointer-events: none;
}

.terminal-container {
	position: relative;
}

main::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.1),
		rgba(51, 51, 51, 0.1),
		rgba(51, 51, 51, 0.1)
	);
	background-size: cover;
	background-size: 100% 4px;
	animation: scanlines infinite 55s linear;
	user-select: none;
	pointer-events: none;
}

@keyframes scanlines {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 -10px;
	}
}
